*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

li{
    list-style-type:none;
}

a{
    text-decoration: none;
}

nav{
    margin-top:0px;
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    font-family: inter;
    background-color: #004f99;
    color:#fff;
}

nav .logo{
    font-size:23px;
    font-weight:700;
    text-transform: uppercase;
}

nav .nav-links{
    display:flex;
    justify-content: space-around;
    width:30%;
}
nav .nav-links a{
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    
}
nav .nav-links a:hover{
    border-bottom:1px solid #fff;
}
nav .burger {
    font-size:30px;
    display:none;
    cursor: pointer;
}

@media all and (max-width:768px){
    nav .burger {
        display:block;
    }
    nav .nav-links{
        position: absolute;
        display: block;
        top:0;
        left:0;
        height:100vh;
        background-color: #004f99;
        padding: 40px;
        width: 50%;
        transform: translateX(-500px);
        transition:0.5s ease-in-out;
    }
    nav .nav-links li{
        padding:25px;
        border-bottom: 1px solid #ccc;
    }
    nav .nav-links li:last-of-type{
        border-bottom: 1px solid rgb(167, 167, 167);
    }
    nav .nav-links a:hover{
        color:red;
        border-bottom: 0px solid rgb(255, 0, 0);
    }
}


